.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.just-btw {
  justify-content: space-between;
}

.just-cntr {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

/* Section home display */

.img-section {
  display: none;
}