input[type="text"], input[type="email"], input[type="password"] {
  padding: 12px 24px;
  outline: none;
  border: 1px solid var(--grey-500);
  background-color: var(--grey-800);
  color: var(--grey-100);
}

.select-company {
  padding: 12px 24px;
  outline: none;
  border: 1px solid var(--grey-500);
  background-color: var(--grey-800);
  color: var(--grey-100);
  cursor: pointer;
}

textarea {
  font-family: 'Inter', sans-serif;
}